<div class="tree-item"
     [ngClass]="{'tree-item-selected': isSelected}"
     riDroppable
     riDraggable
     [dragZone]="treeModel.configuration.dragZone"
     [dropConfig]="{dropAllowedCssClass: 'drop-enabled', dropZone: treeModel.configuration.dropZone}"
     [data]="node"
>
  <div>
    <button mat-icon-button *ngIf="!isExpanded" (click)="expand()">
        <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button  *ngIf="isExpanded" (click)="expand()">
        <mat-icon>remove</mat-icon>
    </button>  
    <span *ngIf="!isEditMode" class="tree-item-name" (click)="onSelect()">{{node.name}}</span>
    <form name="form">
      <input #inputElement type="text" class="form-control" *ngIf="isEditMode" [formControl]="nameField"
             name="name" (keydown)="onChange($event)" (blur)="onBlur()"/>
    </form>
  </div>
  <div>
      <span>
        <button mat-icon-button (click)="onEdit($event)" [disabled]="isEditMode">
          <mat-icon>create</mat-icon>
        </button>
        <button mat-icon-button (click)="onDelete($event)" [disabled]="isEditMode">
          <mat-icon>delete</mat-icon>
        </button>
      </span>
  </div>
</div>
<div class="tree" *ngIf="isExpanded">
  <new-tree-item *ngFor="let child of children$ | async" [node]="child" [treeModel]="treeModel"
                 [contextMenu]="contextMenu"></new-tree-item>
</div>
